*{
    box-sizing:border-box;
}
body{
    margin: 0;
    padding:0;
    background-color: #efefef;
    font-family:'Open Sans',sans-serif;
}
.wraping{
    display: flex;
    flex-wrap: wrap;
}

.main-nav{
    display: flex;
    background-color: #43281c;
    color: #fbf2c0;
    font-size: 16px;
    display:flex;
    align-items:center;
    justify-content: center;
    font-weight:normal;

}

.logo{
    height:25px;
    position:relative;
    top:3px;
}
.pp{
    display:flex;
    width: 100%;
    height: 60vh;
    justify-content: center ;
    justify-content: space-around;
    align-items: center;
}
.p1{
    display: flex;
    width: 50%;
    height: 50vh;

    flex-direction: column;
    align-items: baseline;

}
.p11{
    display:flex;
    background-color: #eee1d5;
    width: 100%;
    height: 15vh;
    justify-content: space-between;
    flex-direction:column;

}

.p12{
    display:flex;
    background-color: #eee1d5;
    width: 100%;
    height: 15vh;
    justify-content: space-between;
    flex-direction: column;
}
.p13{
    display:flex;
    background-color: #eee1d5;
    width: 100%;
    height: 15vh;
    justify-content: space-between;
    flex-direction:column;
}

.table,td{
    text-align:center;
    width: fit-content;
    font-size:25px;
    text-align: center;
    


}




.p2{
    display:flex;
    width:45%;
    height: 50vh;
    align-items: flex-start;
    flex-direction: column;
    justify-content:space-around ;
    
}
.p21{
    display: flex;
    background-color: #eee1d5;
    width: 100%;
    height: 17vh;
    align-items:flex-start;
    justify-content:flex-start;
    flex-direction: column;
    
} 
.p22{
    display: flex;
    background-color: #eee1d5;
    width: 100%;
    height: 17vh;
    align-items:center
    
}
.user-input{
    background-color: #efefef;
    border: 3px #885a2d solid;
    padding:1px;
    border-radius:30px ;
    width:80%;
    height:12vh;
    text-indent: 20px;
    font-size:18px;
    align-items: left;
}
.user-input-label{
    color:#885a2d;
    background-color: #eee1d5;
    font-size: 18px;
    position: absolute;
    
}
.total{
    display: flex;
    height:30vh;
    width: 100%;
    text-align:center;
    text-align: center;
    border-collapse: collapse;
}
.t1{
    display: flex;
    height:28vh;
    width: 90%;
    justify-content:space-around;
    align-items: center;
    flex-direction: column;
    text-align:center;
    font-size:30px;
    
}
.checkout{
    display: flex;
    background-color:#deb993 ;
    border:none ;
    width: 50%;
    border-radius: 80px;
    font-size: 28px;
    
}
.item-color{
    font-size: medium;
    
}
.name-font{
    font-size: medium;
    text-align: left;
}
